* ,
* :before,
* :after {
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
        -box-sizing: border-box;
} 

wrapper {
  width: 100%;
  margin: 0 auto;
}

.sidebar-left {
  width: 25%;
  height: 100%;
  float: left;
  border-right: 1px solid black;
  position: relative;
  background: #404040;
  background: -webkit-linear-gradient(#262626, #737373, #262626);
  background: -o-linear-gradient(#262626, #737373, #262626);
  background: -moz-linear-gradient(#262626, #737373, #262626);
  background: linear-gradient(#262626, #737373, #262626);
}

.sidebar-left div {
  width: 100%;
}

#game-setup {
  height: 25px;
  margin: 0 auto;
}

#game-setup ul li {
  float: left;
  width: 25%;
  border: 1px solid white;
  height: 45px;
  line-height: 45px;
  text-align: center;
  color: white;
}

#game-setup p {
  text-align: center;
  color: red;
}

#number-generator {
  height: 35%;
  border-bottom: 1px solid white;
}

#next {
  margin: 0 auto;
  margin-top: 10%;
  width: 50%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border: 1px solid white;
  border-radius: 10px;
  color: white;
}

#output-in-words {
  margin: 0 auto;
  width: 85%;
  height: 80px;
  margin-top: 50px;
  line-height: 80px;
  text-align: center;
  border: 1px solid white;
  font-size: 40px;
  color: white;
}

#number {
  position: relative;
  margin: 0 auto;
  height: 30%;
  line-height: 100%;
  text-align: center;
}

#output-as-number-button {
  margin: 0 auto;
  margin-top: 50px;
  border: 1px solid white;
  width: 85%;
  height: 100px;
  line-height: 50px;
  text-align: center;
  font-size: 16px;
  color: white;
}

#reset {
  width: 80%;
  height: 45px;
  line-height: 45px;
  color: white;
  margin: 0 auto;
  border: 1px solid red;
  border-radius: 10px;
  text-align: center;
  background: red;

}

.right {
  float: right;
  width: 75%;
  height: 100%;
  background: #404040;
  background: -webkit-linear-gradient(#262626, #737373, #262626);
  background: -o-linear-gradient(#262626, #737373, #262626);
  background: -moz-linear-gradient(#262626, #737373, #262626);
  background: linear-gradient(#262626, #737373, #262626);
}

.col-5-40 {
  float: left;
  width: 20%;
  height: 100%;
  text-align: center;
}

.bingo-40 li {
  margin: 10px auto;
  height: 70px;
  width: 100px;
  line-height: 70px;
  border: 1px solid white;
  border-radius: 10px;
  font-size: 40px;
  color: white;
}
.col-5-60 {
  float: left;
  width: 20%;
  height: 100%;
  text-align: center;
}

.bingo-60 li {
  margin: 10px auto;
  height: 45px;
  width: 50px;
  line-height: 45px;
  border: 1px solid white;
  border-radius: 10px;
  font-size: 30px;
  color: white;
}
.inPlay {
  background: red !important;
  color: white !important;
}

#display-wrapper {
  width: 100%;
  height: 100%;
  background: white;
  position: relative;
  background: #404040;
  background: -webkit-linear-gradient(#262626, #737373, #262626);
  background: -o-linear-gradient(#262626, #737373, #262626);
  background: -moz-linear-gradient(#262626, #737373, #262626);
  background: linear-gradient(#262626, #737373, #262626);
}
#numberDisplay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 400px;
  line-height: 400px;
  width: 400px;
  font-size: 200px;
  font-weight: bold;
  text-align: center;
  border: 1px solid white;
  border-radius: 25px;
  background: red;
  color: white;
}

#bingo-wrapper {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.col-5-ABCs{
  float: left;
  width: 100%;
  height: 20%;
  text-align: center;
}

.bingo-ABCs li {
  margin: 10px auto;
  height: 70px;
  width: 15%;
  float: left;
  line-height: 70px;
  border: 1px solid white;
  border-radius: 10px;
  font-size: 40px;
  color: white;
}

.clear {
  clear: both;
}


