* ,
* :before,
* :after {
  -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
        -box-sizing: border-box;
} 


.wrapper {
  margin: 0 auto;
  max-width: 625px;
  padding: 5px;
  background: lightblue;
  border: 1px solid red;
  clear: both;
}

.gameblock {
  float: left;
  width: 15px;
  height: 15px;
  border: .5px solid black;
  background: white;
}

body {
}

.clear {
  clear: both;
}

.snake {
  background: black;
}

.food {
  background: yellow;
}

fieldset {
  margin: 0 auto;
  height: 45px;
  width: 100px;
}

.gameover {
  height: 500px;
  width: 100%;
  margin: 0 auto;
  background: black;
  color: red;
  text-align: center;
  font-size: 48px;
}
.gameover p {
  display:inline-block; 
  vertical-align:middle; 
  margin:0 0 0 1em;
  width:10em}
.gameover::after {
  display:inline-block; 
  line-height:500px; 
  width:0; 
  content:"\00A0"; 
  overflow:hidden; 
  vertical-align:middle}